html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #5a0000, #a10000);
    font-family: Arial, sans-serif;
}

.cabecalho {
    height: 18vh;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 3%;
    background-color: #8A0000;
}

.container-cabecalho {
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 60px;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.navegacao a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.botao-entrar {
    background-color: #F8AB1E;
    color: rgb(255, 255, 255);
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.botao-entrar:hover{
    background-color: black;
    color: #F8AB1E;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.banner {
    width: 85vw;
    height: auto;
    border-radius: 8px;
}

.container-personagens {
    width: 85vw;
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.linha-cima,
.linha-baixo {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item {
    width: 300px;
    height: 260px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.mcqueen-card {
    background-color: #FF3B3B;
}

.mate-card {
    background-color: #E29245;
}

.ramone-card {
    background-color: #C85BFF;
}

.mack-card {
    background-color: #FF6F5C;
}

.luigi-card {
    background-color: #FFEF4A;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #652222d2;
  padding: 10px 20px;

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  list-style: none;
  justify-content: space-around;
  margin-top: 25px;
}

.div-esquerda {
  display: contents;
  justify-content: space-between;
  margin: 5px;
  font-size: 0.7rem
}

.div-esquerda img {
  align-items: center;

}

.redes {
  display: grid;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 10px;
  ;
}

.linha-footer { 
  height: 2px;
  width: 95%;
  margin: 10px 0 20px 0;
  background-color: white;
  align-self: center;
}

.copyright {
  color: white;
  align-self: center;
  margin-bottom: 20px;
}





@media (max-width: 600px) {
    .item {
        width: 90%;
        height: 220px;
    }

    .banner {
        width: 95vw;
    }
}