@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --cabecalho: linear-gradient(to bottom, #8D1313 0%, #2C2C2C 150%, #8D1313 200%);
    --cor-texto: #E1A91A;
    --cor-kachau: linear-gradient(to right, #8d1313 0%, #e1a91a 100%);
    --background: linear-gradient(to bottom, #8D1313 0%, #2C2C2C 90%);
    --banner: linear-gradient(to right, #e1a91a -70%, #8d1313 60%, #e1a91a 190%);
    --texto-botao: #000;
    --footer: #260707;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background: var(--background);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo-raiozinho {
    height: 100%;
}

.botao-login {
    color: #000;
    background-color: #F8AB1E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 15vh;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
}

.texto-nav {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-navegacao {
    display: none;
}

.botao-login:hover {
    background-color: var(--texto-botao);
    color: var(--cor-texto);
}

.navegacao {
    display: flex;
    align-items: center;
    gap: 15vh;
}

.banner {
    display: flex;
    justify-content: space-between;
    background: var(--banner);
    height: 60vh;
}

.mcqueen-banner {
    display: flex;
    width: 45%;
    height: 110%;
    padding: 20px;
}

.texto-banner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--cor-texto);
    font-size: 4rem;
    font-weight: 700;
    width: 40%;
    padding: 20px;
}

.titulo-banner {
    padding: 0 0 10px 20px;
}

main {
    width: 100%;
    height: auto;
}

.background {
    display: flex;
    background: var(--background);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 60px 0;
    gap: 40px;
}

.pecas-esportivas {

    display: flex;
    color: #E1A91A;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.alfabeto {
    background-color: #F8AB1E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 7vh;
    border: 0;
    border-radius: 10px;
}

.alfabeto:hover {
    background-color: #F8AB1E;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.seta {
    height: 4vh;
    width: auto;
}

.lista-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.produto {
    background: var(--cor-kachau);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    gap: 25px;
    width: 85%;
    padding: 20px;
}

.mcqueen-produto {
    display: flex;
    width: 250px;
    height: auto;
    border-radius: 10px;

}

.texto-produto {
    padding: 0 0px 20px 20px;
}

p {
    padding: 0px 20px 20px 20px;
}

.titulo-produto {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    padding: 0px 30px 10px 30px;
}

.produto-texto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-carrinho {
    display: flex;
    background-color: #E1A91A;
    align-items: center;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.botao-carrinho:hover {
    background-color: #E1A91A;
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.icone-carrinho {
    width: 30px;
    height: auto;
}

aside {
    display: flex;
    align-self: center;
}

.filtro {
    width: 50vw;
    height: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cor-kachau);
    border-radius: 10px;
    color: #000;
    padding: 20px 10px 10px 10px;
}

.titulo-filtro {
    font-size: 2rem;
}

.filtro-preco {
    margin: 5vw 0 5vw 5vw;
}

.subtitulo-divisoes {
    font-size: 1.5rem;
    padding: 10px;
    width: 15vw;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #242323;
    padding: 15px;
}

.footer {
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.linha-footer {
    height: 2px;
    width: 90%;
    margin-bottom: 20px;
    background-color: white;
    align-self: center;
}

.copyright {
    color: white;
    align-self: center;
}

@media screen and (max-width: 1300px) {

    header {
        display: flex;
        height: 20vw;
        width: 100%;
        justify-content: space-between;
        padding: 0 20px;
    }

    .banner {
        display: flex;
        background: var(--banner);
        height: 60%;
        flex-direction: column;
    }

    .navegacao {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

    .menu-navegacao {
        display: block;
        width: 10vw;
        height: auto;
    }

    .Logo-raiozinho {
        width: 90%;
        display: flex;
        justify-self: end;
    }

    .texto-nav {
        display: none;
    }

    .botao-login {
        font-size: 3vw;
        width: 15vw;
        height: 8vw;
    }

    .texto-banner {
        flex-direction: row;
        font-size: 5vw;
        align-self: center;
        width: fit-content;
    }

    .titulo-banner {
        font-size: 5vw;
    }

    .mcqueen-banner {
        display: flex;
        position: relative;
        align-self: center;
        width: 90%;
        height: auto;
    }

    .background {
        flex-direction: column;
        align-items: center;
    }

    .pecas-esportivas {
        font-size: 10vw;
    }

    .titulo-produto {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
        width: fit-content;
    }

    .mcqueen-produto {
        width: 60vw;
        height: auto;
        border-radius: 10px;
    }

    .produto-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .produto {
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    .botao-carrinho {
        display: flex;
        align-self: center;
        font-size: 3vw;
        width: fit-content;
        margin: none;
        padding: 5px;
    }

    .icone-carrinho {
        width: 9vw;
        height: 5vw;
    }

    .filtro {
        margin: 0;
        height: fit-content;
        width: 90%;
        min-height: auto;
        margin-bottom: 20px;
    }

    .preco {
        justify-self: flex-start;
        width: 95%;
    }

    .subtitulo-divisoes {
        font-size: 6vw;
    }

    .texto-filtro {
        font-size: 5vw;
        padding: 0;
    }

    .input-valor {
        width: 60vw;
        height: 7vw;
    }

    .checkbox {
        scale: 1.3;
    }

    .botao-filtro {
        font-size: 4vw;
        width: 25vw;
        height: fit-content;
        margin-bottom: 4vw;
    }

    .logo-footer {
        margin-bottom: 10px;
        width: 90vw;
        height: auto;
    }

    .categoria {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer {
        display: flex;
        color: white;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
    }

    .explore {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        font-size: 5vw;
        margin-bottom: 5vw;
    }

    .suporte {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        font-size: 5vw;
    }

    .rede {
        font-size: 10vw;
    }

    .midia {
        width: 10vw;
    }
}