@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

}

header {
   height: 15vh;
   background-color: #892D25;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

main {
   background-image: linear-gradient(to bottom, #72271F, #260707 95%);
}

.Logo-raiozinho {
   height: 80%;
}

.navegacao {
   display: flex;
   align-items: center;
   gap: 15vh;
}

.botao-login {
   color: white;
   background-color: #F8AB1E;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50%;
   width: 10%;
   border: 0;
   border-radius: 15px;
   font-size: 1.5rem;
}

.texto-nav {
   color: white;
   text-decoration: none;
   font-size: 1.5rem;
}

.banner-mack {
   height: 60vh;
   background-image: linear-gradient(to right, #72271F 0%, #E32C1A 88%);
   display: flex;
   align-items: center;
   justify-content: center;

}

.mack-banner {
   margin-right: 90px;
}

.texto-banner {
   color: #F8AB1E;
   font-size: 10vh;
   margin: 90px;
}

.area-produto {
   padding: 30px 0 30px 30px;
   width: 100%;
   display: flex
}

.lista-produtos {
   width: 70vw;
}

.pecas-caminhao {
   color: #F8AB1E;
}

.produto {
   display: flex;
   align-items: center;
   margin: 10px;
   background-color: #72271f;
   border-radius: 10px;
   height: 40vh;
   width: 65vw;
}

.imagem-produto {
   margin-left: 30px;
}

.informacoes-produto {
   display: flex;
   flex-direction: column;
   align-items: first baseline;
   margin-top: 14.5%;

}

.botao-carrinho {
   background-color: #F8AB1E;
   color: #FFF;
   display: flex;
   align-items: center;
   font-size: 1.5em;
   font-weight: 700;
   border: none;
   border-radius: 10px;
   margin: 30px;
}

.icone-carrinho {
   width: 10%;
   margin: 10px;
}

.filtro {
   width: 35vw;
   height: 70vh;
   margin-top: 47px;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   background-color: #72271f;
   border-radius: 10px;
   color: white;
   align-items: center;
   justify-content: space-around;
}

.footer {
   display: flex;
   color: white;
   list-style: none;
   justify-content: space-around;
   align-items: center;
}

footer {
   display: flex;
   flex-direction: column;
   background-color: #260707;

}

.logo-footer {
   margin-bottom: 10px;
}

.linha-footer {
   height: 2px;
   width: 90%;
   margin-bottom: 20px;
   background-color: white;
   align-self: center;
}

.copyright {
   color: white;
   align-self: center;
   margin-bottom: 20px;
}
